html {
	overflow: hidden;
}

body {
	margin: 0;
	overflow: hidden;
}


#app {
\t-webkit-font-smoothing: antialiased;
\t-moz-osx-font-smoothing: grayscale;
	
	text-align: center;
	margin: 0;

\tcolor: $color-default-text;
\tbackground: $color-main-bg-light;
}