html {
	overflow: hidden;
}

body {
	margin: 0;
	overflow: hidden;
}


#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	
	text-align: center;
	margin: 0;

  color: $color-default-text;
  background: $color-main-bg-light;
}